html{
    background-color: blue;
}

body{
    background-color: green;
    width: 60%;
    margin: 0 auto;
    border: 10px solid black;
}

h1{
    font-size: 30px;
    color: blue;
}
h2{
    font-size: 30px;
    color: red;
}

img{
    display: block;
    margin: 0 auto;
    border: 10px groove gold;
    border-radius: 100%;

}