div{
    width: 400px;
    height: 200px;
    margin: 0px auto;
    /*background-color: blue;*/
    border-radius: 40px;
    border: 20px groove red;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Cat_poster_1.jpg/260px-Cat_poster_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}